<!doctype html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="#" th:action="@{/}" th:object="${url}" method="post">
    <label for="url">Enter url: </label>
    <input type="text" th:field="*{fullUrl}" id="url">
    <input type="submit" value="Shorten!">
</form>

<div th:if="${created == true}">
    Shortened!
    <div>
        <a th:href="${websiteUrl} + ${createdUrl}"><span th:text="${websiteUrl} + ${createdUrl}"></span></a>
    </div>
</div>

</body>
</html>
